---
import Base from '../layouts/Base.astro';
import SearchBar from '../components/core/SearchBar.astro';
---

<Base title="Search" description="Search all posts and pages on this site.">
  <div class="container search-page">
    <div class="content-width" style="margin-inline: auto;">
      <h1>Search</h1>
      <SearchBar />
    </div>
  </div>
</Base>
